/*style file for webpage. all css code goes here*/
	
		
body{
	background-color: #00000;
	padding: 1px;
	
}
	
h1{
	color: #B9ABFF;
	padding: 5px;
	text-decoration: none;
	border-radius: 20px;
	font-family: Sintony;
	font-size: 50px;
}
h3{
	color: #B9ABFF;
	padding: 10px;
	text-decoration: none;
	border-radius: 20px;
	font-family: Sintony;
	font-size: 35px;
}
h4{
	color: #000000;
	padding: 10px;
	text-decoration: none;
	border-radius: 20px;
	font-family: Sintony;
	font-size: 20px;
	font-weight:normal;
}

h2.featuresMainTitle{
	color: #B9ABFF;
	border-radius: 20px;
	font-family: Sintony;
	font-size: 50px;
	text-align: center
}
h2.featuresBoarderL{
	font-size:25px; 
	height: 550px; 
	width: 700px; 
	border: 1px solid #000000; 
	margin: 10px 110px ; 
	font-family: Sintony
}
h2.featuresBoarderR{
	font-size:25px; 
	height: 550px; 
	width: 700px; 
	border: 1px solid #000000; 
	margin: 10px 110px ; 
	font-family: Sintony
	
}
p.description{
	font-size:150%;
	color: #cccccc
	font-family: Sintony;
}

p.indexCenterImage{
	font-size:25px; 
	height: 200px; 
	width: 820px; 
	border: 1px solid #000000; 
	font-family: Sintony
	font-decoration: none;
}
			
p.indexCenterText{
	font-size:25px; 
	height: 150px; 
	width: 820px; 
	font-family: Sintony
	font-decoration: none;
	word-wrap: break-word;
}		
a.button{
	appearance: button;
	background-color: #B9ABFF;
	padding: 5px;
	text-decoration: none;
	font-family: Sintony;
	font-size: 30px;
	color: #FFFFFF;
	border-radius: 4px;
	width: 130px;
}
table, td, th{
	border-collapse: collapse;
	border:1px solid black;
	font-size:125%;
	text-align: center;
	padding: 15px;
}
table {
    border-collapse: collapse;
    width: 50%;
}
th, td {
    text-align: center;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
    color: #FFFC4D;
    background-color: #B9ABFF;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
	font-family: Sintony
	font-decoration: none;
}
li {
    float: left;
    border-right:1px solid #bbb;
	font-family: Sintony
	font-decoration: none;
}

li:last-child {
    border-right: none;
	font-family: Sintony
	font-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
	font-family: Sintony
	font-decoration: none;
    padding: 21px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #B9ABFF;
	font-family: Sintony
	font-decoration: none;
}

.active {
    background-color: #B9ABFF;
	font-family: Sintony
	font-decoration: none;
}	


h2 { 
border-radius: 25px;
font-family: 'Paytone One', sans-serif; 
font-size: 63px; 
text-align: center; 
font-weight: 100px; 
font-size:25px; 
color: black; 
}

p { 
font-size: 20px; 
font-family: 'Dosis', sans-serif; 
}

h4 { 
border-radius: 25px;
font-family: 'Paytone One', sans-serif; 
font-size: 63px; 
text-align: center; 
font-weight: 100px; 
font-size:25px; 
color: black; 
}

.Element_1 { 
font-size:19px; 
height: 380px; 
width: 400px; 
float:left ;
margin:45px; 
margin-left:45px; 
border-radius:0px; 
padding: 10px 40px; 
background-color:#BCC6CC;  
box-shadow: 10px 10px 5px grey;
}  

.Element_2 { 
font-size:19px; 
height: 380px; 
width: 400px; 
float:left;
margin-top:45px;  
margin-left:25px; 
border-radius:0px; 
padding: 10px 40px; 
background-color:#FFF380;  
box-shadow: 10px 10px 5px grey; 
top: 20px; 
}   

            .Title_2 { 
            text-align:center; 
            } 

            #content_wrapper{ 
            width: 1095px;
            margin: 0 auto;
           
            height:700px;
            z-index:100;
            position:relative;
            }

           .First_plan{ 
            font-family: 'Catamaran', sans-serif;
            font-size: 20px;
            }

            .Second_plan{
            font-family: 'Catamaran', sans-serif; 
            font-size: 20px;
            }

	
