/*style file for webpage. all css code goes here*/
	
		
body{
	background-color: #00000;
	padding: 1px;
	
}

/*headers*/	
h1{
	color: #B9ABFF;
	padding: 5px;
	text-decoration: none;
	border-radius: 20px;
	font-family: 'Catamaran', sans-serif;;
	font-size: 50px;
}
h2 { 
	border-radius: 25px;
	font-family: 'Catamaran', sans-serif;;
	font-size: 63px; 
	text-align: center; 
	font-weight: 100px; 
	font-size:25px; 
	color: black; 
}
h2.featuresMainTitle{
	color: #B9ABFF;
	border-radius: 20px;
	font-family: 'Catamaran', sans-serif;;
	font-size: 50px;
	text-align: center
}
h2.featuresBoarderL{
	font-size:25px; 
	height: 550px; 
	width: 700px; 
	border: 1px solid #000000; 
	margin: 10px 110px ; 
	font-family: 'Catamaran', sans-serif;
}
h2.featuresBoarderR{
	font-size:25px; 
	height: 550px; 
	width: 700px; 
	border: 1px solid #000000; 
	margin: 10px 110px ; 
	font-family: 'Catamaran', sans-serif;
	
}
h3{
	color: #B9ABFF;
	padding: 10px;
	text-decoration: none;
	border-radius: 20px;
	font-family: 'Catamaran', sans-serif;;
	font-size: 35px;
}
h4 { 
	border-radius: 25px;
	font-family: 'Catamaran', sans-serif;; 
	font-size: 63px; 
	text-align: center; 
	font-weight: 100px; 
	font-size:25px; 
	color: black; 
}

/*paragraphs*/
p { 
	font-size: 20px; 
	font-family: 'Catamaran', sans-serif;; 
}
p.description{
	font-size:150%;
	color: #6495ED;
	font-family: 'Catamaran', sans-serif;;
}		
p.indexCenterText{
	font-size:25px; 
	height: 200px; 
	width: 820px; 
	font-family: 'Catamaran', sans-serif; sans-serif;
	font-decoration: none;
	word-wrap: break-word;
	text-align: justify;
}

/*menu*/	
a.button{
	appearance: button;
	background-color: #B9ABFF;
	padding: 5px;
	text-decoration: none;
	font-family: 'Catamaran', sans-serif;;
	font-size: 30px;
	color: #FFFFFF;
	border-radius: 4px;
	width: 130px;
}
ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
	font-family: 'Catamaran', sans-serif;
	font-decoration: none;
}
li {
	float: left;
    border-right:1px solid #bbb;
	font-family: 'Catamaran', sans-serif;
	font-decoration: none;
}

li:last-child {
    border-right: none;
	font-family: 'Catamaran', sans-serif;
	font-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
	font-family: 'Catamaran', sans-serif;
	font-decoration: none;
    padding: 21px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #B9ABFF;
	font-family: 'Catamaran', sans-serif;
	font-decoration: none;
}

.active {
    background-color: #B9ABFF;
	font-family: 'Catamaran', sans-serif;
	font-decoration: none;
}	
/*table*/
table, td, th{
	border-collapse: collapse;
	border:1px solid black;
	font-size:125%;
	text-align: center;
	padding: 15px;
	font-family: 'Catamaran', sans-serif;
}
table {
    border-collapse: collapse;
    width: 50%;
}
th, td {
    text-align: center;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
    color: #FFFC4D;
    background-color: #B9ABFF;
}

  

p.homepage{
	font-size:25px; 
	font-family: 'Catamaran', sans-serif;
	font-decoration: none;
}
#textBlock{
	width: 70%;
	float:left;
}

#hold{
		width:15%;
		height: 80%;
		float:left;
}

#header{
	width: 80%;
	height: 50%;
	float:left;
}

#plan1{
		width:40%;
		height: 50%;
		margin-top: 10px;
		float:left;
		font-size:19px;  
		background-color:#BCC6CC;  
		box-shadow: 10px 10px 5px grey;
}

#plan2{
		width:40%;
		height: 50%;
		margin-top: 10px;
		float:right;
		font-size:19px;   
		background-color:#FFF380;  
		box-shadow: 10px 10px 5px grey; 
}

#hold2{
		width:10%;
		height: 40%;
		float:left;
}

#hold3{
		width:10%;
		height: 60%;
		float:left;
}

#hold4{
		width:5%;
		height: 70%;
		float:left;
}
            .Title_2 { 
            text-align:center; 
            } 

            #content_wrapper{ 
            width: 1095px;
            margin: 0 auto;
           
            height:700px;
            z-index:100;
            position:relative;
            }

           .First_plan{ 
            font-family: 'Catamaran', sans-serif;
            font-size: 20px;
            }

            .Second_plan{
            font-family: 'Catamaran', sans-serif;
            font-size: 20px;
            }

	
